body{
    background:#f5f5f5;
}
/*header的样式*/
.main-header{
    height:32px;
    background:#F2F2F2;
    border-bottom: solid 1px #e5e5e5;
}
.main-header-son{
    height:32px;
    width:1300px;
    margin:0 auto;
    line-height:32px;
    font-size:10px;
    color: #999999;
}
.main-header-son .left{
    width:300px;
    height:32px;
    float:left;
}
.main-header-son .left ul li{
    float:left;
    margin-right:20px;
}
.main-header-son .left ul li a{
    text-decoration:none;
    color:#999999;
}
.main-header-son .left ul li a:hover{
    color: #FF0036;
}
.main-header-son .right{
    width:550px;
    height:32px;
    float:right;
}
.main-header-son .right>ul>li{
    float:left;
    padding-right:10px;
    padding-left:10px;
    position:relative;
}
.main-header-son .right a{
    color:#999999;
}
.main-header-son .right>ul>li i{
    width:10px;
    height:10px;
    display:inline-block;
    background:url(../image/icon-arrow-up.png) no-repeat left center;
}
.main-header-son .right>ul>li:nth-of-type(2)>span{
    width:20px;
    height:20px;
    display:inline-block;
    position:relative;
    left:2px;
    background:url(../image/icon-shop.png) no-repeat left 5px;
}
.main-header-son .right>ul>li:nth-of-type(4)>span{
    width:20px;
    height:20px;
    display:inline-block;
    position:relative;
    top:6px;
    left:2px;
    background:url(../image/icon-phone.png) no-repeat 5px 3px;
}
.main-header-son .right>ul>li:last-of-type>span{
    width:20px;
    height:20px;
    display:inline-block;
    position:relative;
    top:2px;
    left:-2px;
    background:url(../image/icon-menu.png) no-repeat 5px 5px;
}
.main-header-son .right>ul>li:nth-of-type(1):hover,.main-header-son .right>ul>li:nth-of-type(3):hover,.main-header-son .right>ul>li:nth-of-type(6):hover,.main-header-son .right>ul>li:last-of-type:hover{
    background:white;
}
.main-header-son .right>ul>li:nth-of-type(1):hover a,.main-header-son .right>ul>li:nth-of-type(3):hover a,.main-header-son .right>ul>li:nth-of-type(6):hover a{
    color:#FF0036;
    text-decoration:underline;
}
.main-header-son .right>ul>li:nth-of-type(1):hover i,.main-header-son .right>ul>li:nth-of-type(3):hover i,.main-header-son .right>ul>li:nth-of-type(6):hover i,.main-header-son .right>ul>li:last-of-type:hover i{
     transform:rotate(180deg);
}
.main-header-son .right>ul>li:nth-of-type(3):hover a{
    color:#FF0036;
}
.main-header-son .right>ul>li:nth-of-type(2):hover a,.main-header-son .right>ul>li:nth-of-type(4):hover a,.main-header-son .right>ul>li:nth-of-type(5):hover a{
    color:#FF0036;
    text-decoration:none;
}
.main-header-son .right>ul>li>ul{
    clear:both;
    width:95px;
    padding-left:10px;
    border:1px solid #e5e5e5;
    border-top:none;
    display:none;
    position:absolute;
    left:-1px;
}
.main-header-son .right>ul>li >.ul3{
    width:80px;
}

.main-header-son .right ul li:hover ul{
    background:#ffffff;
    display:block;
}
.main-header-son .right>ul>li>ul>li>a{
    color:#000000!important;
    text-decoration:none!important;
}
.main-header-son .right>ul>li>ul>li:hover>a{
    color:#FF0036!important;
    text-decoration: underline!important;
}
.main-header-son .right>ul>li>.ul6{
     width:150px;
    height:190px;
     left:-71px;
}
.main-header-son .right>ul>li>.ul6 div{
    border-bottom:dotted 1px #686868;
}
.main-header-son .right>ul>li>.ul6 .div1{
     height:125px;
     width:130px;
    margin-bottom:0;
 }
.main-header-son .right>ul>li>.ul6 .div2{
    height:60px;
    width:130px;
}
.main-header-son .right>ul>li>.ul6 div ul{
    width:50px;
    float:left;
    margin-top:-5px;
}
.main-header-son .right>ul>li>.ul6 div ul:first-of-type{
    margin-right:30px;
}
.main-header-son .right>ul>li>.ul6 div ul li{
    height:22px;
}
.main-header-son .right>ul>li>.ul6 div ul li a{
    color:#000000!important;
    text-decoration:none!important;
}
.main-header-son .right>ul>li>.ul6 div ul li a:hover{
    color:#ff0036!important;
    text-decoration:underline!important;
}

.main-header-son .right>ul>li>.ul7{
    padding-left:20px;
    height:240px;
    width:1250px;
    left:-1151px;
}
.main-header-son .right>ul>li>.ul7 div{
    height:200px;
    margin-right:20px;
    margin-top:20px;
    float:left;
}
.main-header-son .right>ul>li>.ul7 div ul{
    width:100px;
    float:left;
}
.main-header-son .right>ul>li>.ul7 .div1,.main-header-son .right>ul>li>.ul7 .div2,.main-header-son .right>ul>li>.ul7 .div3
{
     border-right:1px solid #e5e5e5;
}
.main-header-son .right>ul>li>.ul7 p{
    font-size:16px;
}
.main-header-son .right>ul>li>.ul7 .div1 p{
    color:orangered;
}
.main-header-son .right>ul>li>.ul7 .div2 p{
    color: #0000c6;
}
.main-header-son .right>ul>li>ul>div>ul>li a{
    color:#000000;
}
.main-header-son .right>ul>li>.ul7>.div1>ul>li:hover a{
    color:orangered;
    text-decoration:underline;
}
.main-header-son .right>ul>li>.ul7>.div2>ul>li:hover a{
    color: #0000c6;
    text-decoration:underline;
}
.main-header-son .right>ul>li>.ul7>.div3>ul>li:hover a,.main-header-son .right>ul>li>.ul7>.div4>ul>li:hover a{
    text-decoration:underline;
}


/*nav的样式*/
.nav{
    height:160px;
    background:#ffffff;
}
.nav>.logo{
    height:160px;
    width:240px;
    margin-left:10px;
    float:left;
}
.nav>.logo>a>img{
    width:240px;
    height:160px;
}
.nav>.search{
    height:160px;
    width:700px;
    margin-left:100px;
    float:left;
    padding-left:30px;
    padding-top:50px;
}
.nav>.search>form>.in1,.nav>.search>form>div{
    width:634px;
    height:40px;
}
.nav>.search>form>div>.in1,.nav>.search>form>div>.in2{
    width:500px;
    height:40px;
    border:#FF0036 2px solid;
    float:left;
    outline:none;

}
.nav>.search>form>div>.in1{
    font-size:15px;
}
.nav>.search>form>div>.in2{
    width:130px;
    background:#FF0036;
    font-size:20px;
    font-weight:bold;
    letter-spacing:10px;
    color:#ffffff;
}
.nav>.search>ul{
    width:550px;
    height:30px;
    padding-top:5px;
}
.nav>.search>ul>li{
    padding-left:11px;
    padding-right:11px;
    float:left;
    font-size:14px;
    text-align:center;
    border-right:#e5e5e5 1px solid;
}
.nav>.search>ul>li>a{
    color:#999999;
    text-decoration:none;
}
.nav>.search>ul>li:last-of-type{
    border-right:none;
}
.nav>.search>ul>li:nth-of-type(1) a,.nav>.search>ul>li:nth-of-type(4) a,.nav>.search>ul>li:nth-of-type(7) a,.nav>.search>ul>li:nth-of-type(9) a{
    color:#FF0036;
}
.ban{
    height:42px;
    border-bottom:#FF0036 2px solid;
    background:#ffffff;
}
.ban>.left{
    height:40px;
    width:200px;
    background:#FF0036;
    margin-left:35px;
    float:left;
}
.ban>.left>span{
    height:40px;
    width:160px;
    display:inline-block;
    color:#ffffff;
    line-height:40px;
    font-size:18px;
    margin-left:40px;
}
.ban>.right{
    height:40px;
    width:900px;
    float:left;
}
.ban>.right>ul>li{
    height:40px;
    line-height:40px;
    float:left;
    margin-right:21px;
}
.ban>.right>ul>li>a{
    color:#000
}
.ban>.right>ul>li:hover>a{
    color:#FF0036;
}
.ban>.right>ul>li>a>img{
    margin-top:5px;
    height:30px;
}



/*轮播部分的样式*/
.section{
    height:500px;
    background:#7BADE3 url(../image/ban2.webp) no-repeat center;
}
.section>a{
    height:500px;
    width:100%;
    display:inline-block;
}
.section .left{
    height:500px;
    width:200px;
    background:rgba(0,0,0,0.5);
    margin-left:35px;
    margin-top:-505px;
    float:left;
    position:relative;
}
.section .left>ul>li{
    height:31px;
    width:200px;
    padding-left:5px;
    line-height:31px;
    font-size:14px;
    color:#ffffff;
}
.section .left>ul>li>a{
    color:#ffffff;
    text-decoration:none;
    float:left;
}
.section .left>ul>li>i{
    width:20px;
    height:20px;
    display:inline-block;
    background:url(../image/icon-nav1.png) center;
    float:left;
    margin-right:5px;
    margin-top:7px;
}
.section .left>ul>li>a>i{
    width:20px;
    height:20px;
    display:inline-block;
    background:url(../image/icon-nav1.png) center;
    float:left;
    margin-right:5px;
    margin-top:7px;
}
.section .left>ul>li:hover{
    background:#ffffff;
    color:pink;
}
.section .left>ul>li:hover a{
     color:pink;
 }
.section .left>ul>li:hover i{
    background:url(../image/icon-nav2.png) center;
}
.section .left>ul>li>.div1{
    height:500px;
    width:800px;
    position:absolute;
    right:-800px;
    top:0px;
    z-index:1;
    display:none;
    padding-right:0;
}
.section .left>ul>li:hover>.div1>div{
    width:610px;
    height:500px;
    float:left;
    margin-right:10px;
    background:#ffffff;
}
.section .left>ul>li:hover>.div1>div>dl{
    float:left;
    width:610px;
    padding-left:20px;
}
.section .left>ul>li>.div1>div>dl>dt{
     width:80px;
     float:left;
     font-size:14px;
     font-weight:bold;
     color:#000000!important;
     margin-top:4px;
 }
.section .left>ul>li>.div1>div>dl>dd{
    width:510px;
    line-height:20px;
    padding-bottom:8px;
    padding-top:0;
    margin-top:10px;
    border-bottom:dotted 1px #e5e5e5;
    float:left;
}
.section .left>ul>li>.div1>div>dl>dd>a{
    display:inline-block;
    padding:0px 10px;
}
.a1{
    color:#FF0036!important;
}
.a2{
    color: #585858!important;
}
.section .left>ul>li>.div1>div>dl>dd>a:hover{
    color:#FF0036!important;
}
.section .left>ul>li:hover>.div1{
    background:#f5f5f5;
    display:block;
}
.section .left>ul>li:hover>.div1>.aside{
    height:490px;
    width:170px;
    float:left;
    margin-right:10px;
    margin-top:10px;
}
.section .left>ul>li:hover>.div1>.aside>p{
    height:45px;
    width:84px;
    margin-right:1px;
    margin-bottom:1px;
    float:left;
}
.section .left>ul>li:hover>.div1>.aside>p>a>img{
    width:84px;
    height:45px;
}
.section .left>ul>li:hover>.div1>.aside>.p1{
    width:169px;
    height:75px;
    margin-top:10px;
}
.section .left>ul>li:hover>.div1>.aside>.p1>a>img{
    width:169px;
    height:75px;
}
.section .right{
    height:500px;
    width:230px;
    padding-top:10px;
    float:right;
    margin-right:100px;
    margin-top:-505px;
}
.section .right>div{
    width:230px;
    height:235px;
    background:white;
    margin-bottom:10px;
    opacity:0.5;
    transition:1s;
}
.section .right>div>a>img{
    width:230px;
}
.section .right>div:hover{
    opacity:1;
}


/*DarkDay的定义*/
.DarkDay{
    height:100px;
    background:url(../image/darkfriday.png) center no-repeat;
}
/*DarkDayImage的定义*/
.DarkDayImage{
    height:267px;
    width:1200px;
    margin:0 auto;
}
.DarkDayImage>a>img{
    clear:both;
    width:236px;
    opacity:1;
    transition:1s;
}
.DarkDayImage>a>img:last-of-type{
    margin-right:0;
}
.DarkDayImage>a:hover>img{
    opacity:.7;
}
.DarkDayImage1{
    height:372px;
    width:1200px;
    margin:20px auto 0;

}
.DarkDayImage1>.one{
    height:372px;
    width:236px;
    background:#ffffff;
    float:left;
}
.DarkDayImage1 h3{
    height:54px;
    line-height:54px;
    position:relative;
}
.DarkDayImage1>.one>a>img{
    width:236px;
    height:318px;
}
.DarkDayImage1>.two,.DarkDayImage1>.three{
    width:477px;
    height:372px;
    background:#ffffff;
    float:left;
    margin-left:5px;
}
.DarkDayImage1>.two>a>img,.DarkDayImage1>.three>a>img{
    width:477px;
    height:318px;
}
.DarkDayImage1>div>a>img{
    opacity: 1;
    transition:.3s;
}
.DarkDayImage1>div>a>img:hover{
    opacity: .7;
}
.DarkDayImage1>div>h3>i{
    height:20px;
    width:20px;
    display:inline-block;
    background:url("../image/icon-right.png") no-repeat center;
    background-size:20px;
    position:absolute;
    top:17px;
    right:5px;
}
.DarkDayImage1>div>h3>span{
    width:30px;
    height:20px;
    margin-right:30px;
    color:#A8A8A8;
    font-size:14px;
    float:right;
}

/*brand的定义*/
.brand{
    height:333px;
    width:1200px;
   /* background:yellow;*/
    margin:20px auto 0;

}
.brand>ul>li{
    width:119px;
    height:110px;
    margin-right:1px;
    margin-bottom:1px;
    float:left;
    background:#ffffff url(../image/advimg1.webp) no-repeat center;
}
.brand>ul>li>a>span{
    width:119px;
    height:110px;
    display:inline-block;
    padding-top:30px;
    background:rgba(0,0,0,.7);
    opacity:0;
    transition:.3s;
}
.brand>ul>li:hover>a>span{
    opacity:1;
}
.brand>ul>li>a>span>span{
    width:119px;
    height:25px;
    display:inline-block;
    color:white;
    text-align:center;
    font-size:12px;
}
.brand>ul>li>a>span>p{
    height:22px;
    width:65px;
    font-size:12px;
    color:white;
    border-radius:8px;
    padding-top:2px;
    background:red;
    text-align:center;
    margin:0 auto;
}
.TmallMark{
    height:50px;
    width:1200px;
    margin:0 auto;
}
.TmallMark>.left{
    height:25px;
    width:214px;
    margin:10px 0;
    float:left;
}
.TmallMark>.left>img{
    height:25px;
    width:210px;
    margin-top:10px;
}
.TmallMark>.right {
    height: 25px;
    width: 600px;
    float: right;
}
.TmallMark>.right>a{
    color: #101010;
    font-size:13px;
}
.TmallMark>.right>a>span{
    height:20px;
    margin-left:40px;
    display:inline-block;
    float:right;
    margin-top:30px;
}
.TmallMark>.right>a>span:hover{
    border-bottom:1px solid #666666;
}
.TmallMark1{
    height:621px;
    width:1200px;
    margin:10px auto 0;
}
.TmallMark1>a{
    height:621px;
    width:235px;
    float:left;
    display:inline-block;
    background:url(../image/mart1.jpg) no-repeat center;
    background-size:235px 621px;
    position:relative;
}
.TmallMark1>.left>i{
    width:32px;
    height:32px;
    display:inline-block;
    background:url(../image/youjiantou.png) no-repeat center;
    background-size:32px;
    position:absolute;
    bottom:68px;
    right:12px;
}
.TmallMark1>.left>span{
    color:white;
    font-size:18px;
    display:inline-block;
}
.TmallMark1>.left>span:nth-of-type(1){
    width:60px;
    height:60px;
    background: #000000;
    float:left;
    position:absolute;
    top:450px;
    left:10px;
    padding-left:10px;
    padding-top:5px;
}
.TmallMark1>.left>span:nth-of-type(2){
    width:128px;
    height:60px;
    background:rgba(0,0,0,.5);
    float:left;
    position:absolute;
    top:450px;
    left:70px;
    padding-top:5px;
    padding-left:10px;
}
.TmallMark1>.right{
    height:621px;
    width:955px;
    margin-left:10px;
    float:left;
}
.TmallMark1>.right>a{
    color:#000000;
}
.TmallMark1>.right>a>.one{
    width:472px;
    height:305px;
    float:left;
    background:#ffffff;
}
.TmallMark1>.right>a>.one>span{
    width:226px;
    height:57px;
    display:inline-block;
    font-size:18px;
    line-height:57px;
    float:left;
}
.TmallMark1>.right>a>.one>span:nth-of-type(1){
    background:#00B262;
    color:white;
    margin-left:10px;
    margin-top:10px;
    text-align:center;
}
.TmallMark1>.right>a>.one>span:nth-of-type(2){
    background:#F1F1F1;
    color:black;
    margin-right:10px;
    margin-top:10px;
    text-align:center;
}
.TmallMark1>.right>a>.one>.p1{
    height:228px;
    width:452px;
    background:#ffffff;
    margin-top:67px;
    margin-left:10px;
    position:relative;
    box-shadow:#f2f2f2 0px 1px 10px;
}
.TmallMark1>.right>a>.one>.p1>span:nth-of-type(1){
     width:200px;
     height:200px;
     float:right;
     position:absolute;
     top:20px;
     right:20px;
 }
.TmallMark1>.right>a>.one>.p1>span:nth-of-type(1)>img{
    width:200px;
    height:200px;
}
.TmallMark1>.right>a>.one>.p1>span:nth-of-type(2){
    width:280px;
    height:87px;
    display:inline-block;
    background:url(../image/martbg.png) no-repeat center;
    background-size:280px 87px;
    opacity:.7;
    position:absolute;
    top:80px;
    z-index:1;
}
.TmallMark1>.right>a>.one>.p1>span:nth-of-type(2)>.first>i{
    height:30px;
    width:30px;
    display:inline-block;
    margin:4px 10px 5px 15px;
    background:url(../image/gougou.png) no-repeat center;
    float:left;
}
.TmallMark1>.right>a>.one>.p1>span:nth-of-type(2)>.first{
    height:40px;
    color:#00B262;
    display:inline-block;
    font-weight:bold;
    font-size:26px;
    margin-top:5px;
    line-hright:40px;
}
.TmallMark1>.right>a>.one>.p1>span:nth-of-type(2)>.second{
    height:30px;
    width:150px;
    display:block;
    margin-top:3px;
    padding-left:15px;
    font-size:20px;
    color: #000000;
}
.TmallMark1>.right>a>.two{
    height:305px;
    width:231px;
    background:#ffffff;
    float:left;
    margin-left:10px;
}
.TmallMark1>.right>a>.two:hover{
    border:1px solid #ff0036;
}
.TmallMark1>.right>a>.two>.p{
    width:185px;
    height:185px;
    margin:10px auto;
}
.TmallMark1>.right>a>.two>.p>img{
    width:185px;
    height:185px;
}
.TmallMark1>.right>a>.two>.pp>span:nth-of-type(1){
    width:150px;
    height:40px;
    margin-left:40px;
    display:inline-block;
    font-size:15px;
    text-align:center;
}
.TmallMark1>.right>a>.two>.pp>span:nth-of-type(2){
    width:150px;
    height:20px;
    display:inline-block;
    font-size:18px;
    color:#ff0036;
    text-align:center;
    margin-left:40px;
    margin-top:10px;
}

/*TmallMarhk2的定义*/
.TmallMark2{
    height:50px;
    width:1200px;
    margin:0 auto;
}
.TmallMark2>.left{
    height:25px;
    width:214px;
    margin:10px 0;
    float:left;
}
.TmallMark2>.left>img{
    height:25px;
    width:210px;
    margin-top:10px;
}
.TmallMark>.right {
    height: 25px;
    width: 600px;
    float: right;
}
.TmallMark2>.right>a{
    color: #101010;
    font-size:13px;
}
.TmallMark2>.right>a{
    color:#000000;
}
.TmallMark2>.right>a>span{
    height:20px;
    margin-left:40px;
    display:inline-block;
    float:right;
    margin-top:30px;
}
.TmallMark2>.right>a>span:hover{
    border-bottom:1px solid #666666;
}

/*TmallMarhk3的定义*/
.TmallMark3{
    width:1200px;
    height:305px;
    margin:10px auto 0;
}
.TmallMark3>a{
    color:#000000;
}
.TmallMark3>a>div{
    height:170px;
    width:232px;
    height:305px;
    background:#ffffff;
    float:left;
}
.TmallMark3>a>.two,.TmallMark3>a>.three,.TmallMark3>a>.four,.TmallMark3>a>.five{
    margin-left:10px;
}
.TmallMark3>a>.one{
    position:relative;
    opacity:1;
    transition:.2s;
}
.TmallMark3>a>.one:hover>img{
    opacity:.7;
}
.TmallMark3>a>.one>img{
    width:232px;
    height:305px;
}
.TmallMark3>a>.one>i{
    width:32px;
    height:32px;
    display:inline-block;
    background:url(../image/youjiantou.png) no-repeat center;
    background-size:32px;
    position:absolute;
    top:250px;
    right:12px;
}
.TmallMark3>a:not(:first-of-type)>div:hover{
    border:1px solid #ff0036;
}
.TmallMark3>a>div>p{
    height:170px;
    width:170px;
    margin:30px auto 0;
}
.TmallMark3>a>div>p>img{
    height:170px;
    width:170px;
    display:inline-block;
    margin:0 auto;
}
.TmallMark3>a>.one>p:nth-of-type(1){
    width:60px;
    height:60px;
    float:left;
    color:#ffffff;
    background:#000000;
    font-size:18px;
    text-align:center;
    padding-top:5px;
    position:absolute;
    left:10px;
    top:150px;
}
.TmallMark3>a>.one>p:nth-of-type(2){
    width:128px;
    height:60px;
    float:left;
    font-size:18px;
    color:#ffffff;
    padding-left:10px;
    padding-top:5px;
    background:rgba(0,0,0,.5);
    position:absolute;
    left:70px;
    top:150px;
}
.TmallMark3>a>.two>span:nth-of-type(1){
    width:60px;
    height:30px;
    display:inline-block;
    margin:20px 0px 0px 30px;
    color:#000000;
    font-size:18px;
}
.TmallMark3>a>.two>span:nth-of-type(2){
    width:130px;
    height:30px;
    display:inline-block;
    margin:0 0 0 30px;
    font-size:14px;
    color:#7A45E5;
}
.TmallMark3>a>.three>span:nth-of-type(1),.TmallMark3>a>.four>span:nth-of-type(1),.TmallMark3>a>.five>span:nth-of-type(1){
    height:60px;
    width:160px;
    display:inline-block;
    text-align:center;
    margin:5px 0 0 36px;
    font-size:15px;
}
.TmallMark3>a>.three>span:nth-of-type(2),.TmallMark3>a>.four>span:nth-of-type(2),.TmallMark3>a>.five>span:nth-of-type(2){
    height:30px;
    width:160px;
    display:inline-block;
    text-align:center;
    color:#ff0036;
    margin-left:36px;
    font-size:18px;
}
.man{
    height:90px;
    width:1200px;
    margin:20px auto 0;
    background:url(../image/xiebeijing.jpg) no-repeat center;
    background-size:1620px 90px;
}
/*.beautiful的定义*/
.beautiful{
    height:50px;
    width:1200px;
    margin:10px auto 0;
    line-height:50px;
}
.beautiful>.red{
    width:5px;
    height:18px;
    display:inline-block;
    background:#ff0036;
    float:left;
    margin:16px 20px 0 0;
}
.beautiful>.p1{
    float:left;
}
.beautiful>.p2{
    float:right;
}
.beautiful>.p2>a{
    color:#000000;
    font-size:13px;
    height:38px;
    text-align:right;
    display:inline-block;
    margin-left:30px;
}
.beautiful>.p2>a:hover{
    border-bottom:1px solid #000000;
}
.tongyi{
    width:1200px;
    height:618px;
    margin:0 auto;
}
.tongyi>.left{
    height:618px;
    width:234px;
    display:inline-block;
    float:left;
    background-size:234px 618px;
    position:relative;
}
.tongyi>.left>i{
    height:30px;
    width:30px;
    display:inline-block;
    background:url(../image/youjiantou.png) no-repeat center;
    background-size:30px 30px;
    position:absolute;
    bottom:20px;
    right:12px;
}
.tongyi>.left>img{
    height:618px;
    width:234px;
    opacity:1;
    transition:.5s;
}
.tongyi>.left:hover>img{
    opacity:.7;
}
.tongyi>.left>p{
    height:60px;
    float:left;
    color:#ffffff;
    font-size:18px;
}
.tongyi>.left>p:nth-of-type(1){
    width:60px;
    background:#000000;
    padding-top:18px;
    padding-left:10px;
    position:absolute;
    bottom:130px;
    left:10px;
}
.tongyi>.left>p:nth-of-type(2){
    width:128px;
    background:rgba(0,0,0,.7);
    padding-top:5px;
    padding-left:10px;
    position:absolute;
    bottom:130px;
    left:70px;
}
.tongyi>.right{
    height:618px;
    width:966px;
    float:left;
}
.tongyi>.right>a{
    height:304px;
    width:231px;
    display:inline-block;
    margin-left:10px;
    float:left;
    background:#ffffff;
    color:#000000;
}
.tongyi>.right>a:nth-of-type(5),.tongyi>.right>a:nth-of-type(6),.tongyi>.right>a:nth-of-type(7),.tongyi>.right>a:nth-of-type(8){
    margin-top:10px;
}
.tongyi>.right>a>img{
    height:180px;
    width:180px;
    margin:20px 25px 0;
}
.tongyi>.right>a:hover{
    border:1px solid #ff0036;
}
.tongyi>.right>a>span{
    width:180px;
    display:inline-block;
    margin:10px 25px 0 25px;
    text-align:center;
}
.tongyi>.right>a>span:nth-of-type(1){
    font-size:15px;
}
.tongyi>.right>a>span:nth-of-type(2){
    font-size:18px;
    color:#ff0036;
}
.jujia{
    height:90px;
    width:1200px;
    margin:20px auto 0;
    background:url(../image/jujia.jpg) no-repeat center;
    background-size:1620px 90px;
}
.like {
    height:80px;
    width:1200px;
    margin:20px auto 0;
    text-align:center;
    line-height:80px;
}
.like>i{
    height:23px;
    width:196px;
    display:inline-block;
    background:url(../image/xinxin.jpg) no-repeat center;
    background-size:196px 23px;
}
.tongyi2{
    width:1200px;
    height:315px;
    margin:0 auto 10px;
}
.tongyi2>a{
    height:315px;
    width:234px;
    display:inline-block;
    float:left;
    background:#ffffff;
    margin-right:7px;
}
.tongyi2>a:nth-of-type(5){
    margin-right:0;
}
.tongyi2>a>img{
    width:185px;
    height:185px;
    margin:25px 25px 0;
}
.tongyi2>a>span{
    width:185px;
    display:inline-block;
    margin:12px 25px 0;
    text-align:center;
}
.tongyi2>a:hover{
    border:1px solid #ff0036;
}
.tongyi2>a>span:nth-of-type(1){
     font-size:15px;
    color:#000000;
 }
.tongyi2>a>span:nth-of-type(2){
    font-size:18px;
    color:#ff0036;
}
.end{
    height:53px;
    width:1200px;
    margin:0 auto;
}
.end>i{
    height:53px;
    width:93px;
    display:inline-block;
    padding-top:10px;
    margin-left:554px;
    background:url(../image/end.png) no-repeat center;
    background-size:93px 53px;
}
.last{
    width:100%;
    background:#ffffff;
    border-top:1px solid #D1D7Dc;
}
.last>.div1{
    height:100px;
    width:1190px;
    margin:20px auto;
    border-bottom:1px solid #D1D7Dc;
}
.last>.div1>a{
    height:100px;
    width:297px;
    display:inline-block;
    float:left;
    padding-top:24px;
    padding-left:60px;
    color:#000000;
}
.last>.div1>a>img{
    height:52px;
    width:52px;
    float:left;
    margin-right:10px;
}
.last>.div1>a>p{
    float:left;
}
.gray{
    color:#A8A8A8!important;
}
.last>.footer{
    width:1190px;
    height:190px;
    margin:22px auto 0;
}
.last>.footer>dl{
    width:238px;
    height:190px;
    float:left;
    padding-left:60px;
    position:relative;
}
.last>.footer>dl>dt{
    font-size:18px;
    font-weight:bold;
}
.last>.footer>dl>dd>a{
    color:#A8A8A8;
    font-size:12px;
}
.last>.footer>dl:first-of-type>i{
    width:68px;
    height:25px;
    display:inline-block;
    background:url(../image/miao.png) no-repeat center;
    position:absolute;
    bottom:0;
    left:60px;
}
.last>.footer>dl:last-of-type>dd>a>i{
    width:105px;
    height:105px;
    display:inline-block;
    background:url(../image/erweima.png) no-repeat center;
    position:absolute;
    bottom:50px;
    left:60px;
}
footer{
    height:197px;
    border-top:2px solid #ff0036;
    background:#000000;
}
footer>ul{
    padding-top:10px;
    width:1190px;
    height:25px;
    margin:0 auto;
}
footer>ul>li{
    padding:0 5px;
    float:left;
    font-size:12px;
}
footer>ul>li>a{
    color:#ffffff;
}
footer>ul:nth-of-type(2){
    margin-top:10px;
}
footer>ul:nth-of-type(2)>li{
    border-right:1px solid #ffffff;
}
footer>ul:nth-of-type(2)>li:last-of-type{
    border-right:none;
}
footer>ul:nth-of-type(3)>li,footer>ul:nth-of-type(4)>li{
    color:#A8A8A8;
}
footer>ul:nth-of-type(3)>li>a,footer>ul:nth-of-type(4)>li>a{
    color:#A8A8A8;
}
footer>ul:nth-of-type(5){
    padding-top:5px;
}
footer>ul:nth-of-type(5)>li{
    color:#686868;
}
footer>ul:last-of-type{
    height:30px;
}
footer>ul:last-of-type>li>a{
    height:30px;
    width:73px;
    display:inline-block;
}
footer>ul:last-of-type>li:first-of-type>a{
    background:url(../image/lastone.jpg) no-repeat center;
}
footer>ul:last-of-type>li:last-of-type>a{
    background:url(../image/lasttwo.jpg) no-repeat center;
}